{% extends 'pets/base.html' %}
{% load static %}
{% block title %} signup {% endblock %}
{% block stylesheet %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/ css/font-awesome.min.css"></script> -->

  <style>

  ul {
    border : 1px solid black;
  }


  li {  
    width : 80px;
    display: inline-block;

  }

  #showdata, #nodata {
    display : none;
  }

  #datewarn, #all_form_invalid   {
    color : red;
  }
#table-head {
    font-size: 18px;
    font-style: oblique;
    font-weight: 900;
    font-synthesis: weight style;
}
.save_form {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.draggable {    
    cursor: move;
    -webkit-user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: auto;
    border: 1px solid lightblue;
    background: lightyellow;
    text-align: center;
}
.dragging {
    opacity: .5;
}
.data {
    border: 3px dashed lightgray;
    background-color:lavender;
    height: 900px;
}
.start-drag {
    border: 3px dashed lightgray;
    background-color:lavender;
    height: 900px;
}
#delete-drop {
    border: 3px dashed lightgray;
    background-color:lavender;
    height: 50px;
    width: 50%;
}
/* Solve problem where border size changes on hover */
span { 
  border: 1px solid black; 
} 
span:hover { 
  outline: 4px solid black; 
} 

  </style>

{% endblock %}

{% block content %}
<div id="delete-drop">
Drag here to delete.
</div>

<!-- drop data -->
<input type="submit" class="form-control save_form" id="submit" value="Submit">
<div class="col-sm-6 data " style="" >
  <div id='Drop'>
  </div>      
</div>
<!-- here imput box to edit data -->
<div class='hide edit_level col-sm-2 '>
    <input type="text" class="form-control" id="lavel_name_value" value="">
    <button id='save_data' onclick="SaveData()">save-name</button>
</div>
<!-- drag able deiv -->
<div class="col-sm-6 start-drag" style="background-color:lavender;">

<div class="draggable">
    <p id='lebel'>Enter Level Name </p>
</div>
<div class="draggable">
  <div class="form-group">
  <input type="text" class="form-control" id="input" placeholder="Imput your data">
</div></div>
</div>
<!-- show all data -->



{% endblock %}

{% block javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">
//Stop Drag and Drop Function
 $(window).dblclick(
            function () {
                alert('stoped ');
    }            
);



//Show already added Data
$( document ).ready(function() {
    console.log( "ready!" );
    var url = document.URL;
    var url_id=url.split('/')
    var id=url_id[4]
    $.ajax({
        type: "GET",
        url:"/user/Survey-Design/"+id+"/",
        headers: { 'Authorization': "Token " + localStorage.access_token },
        data:{},
        success:function (result){
            console.log(result)
            var count=0
            $.each(result, function (index, value) {
                $(".data").append(
                "<div class='main' id='first"+count+"' data-id='first"+count+"' \
                style='position: relative; top: "+value.level_y+"px; left: "+value.level_x+"px;'> \
                <span id='delete'> Delete </span>\
                <p id='lebel'>"+value.lebel_data+"</p>\
                </div>\
                <div class='main' id='first1' data-id='first' style='position: relative; top: "+value.value_y+"px; left: "+value.value_x+"px; '>\
                <span id='delete'> Delete </span>\
                <div class='form-group'>\
                <input type='text' class='form-control' id='input'\
                placeholder='Imput your data'>\
                </div></div>");
                count++
                
                })
            }
        
    });
});
//drag and drop envent
var count = 0;
$(".draggable").on({
    dragstart: function(e) {
        console.log("product dragstart");
        $target = $(e.target);
        $target.addClass("dragging");
        e.originalEvent.dataTransfer.setData("text/html", $target.html());
    },
    dragend: function(e) {
        console.log("product dragend");
        $(e.target).removeClass("dragging");
    }
});
$(".data").on({
    dragenter: function(e) {
        console.log("basket dragenter");
        $(e.target).addClass("dropping");
    },
    dragover: function(e) {
        console.log("basket dragover");
        e.originalEvent.dataTransfer.dropEffect = "copy"; // "move", "link"
        return false;        
    },
    drop: function(e) {
        console.log("basket drop");
        var $target = $(e.target);
        var dropText = "<div class='main' id='first"+count+"' data-id='first"+count+"'> <span  id='delete'> Delete </span>" + e.originalEvent.dataTransfer.getData("text/html") + "<div>";
            count++;
        $target.html($target.html() + "" + dropText);
    }
});
// Delete data
$('.data').on('click','#delete',function(){
    $(this).closest('div').remove();
});

//add level data to input box
var div_id
var div_id1
$('.data').on('click','#lebel',function(event){
    console.log($(this).closest('#lebel').text())
    console.log($(this).find('#lebel').text())
    console.log($( event.target ).closest('#lebel').text())
        // var level_name=$( event.target ).closest('#lebel').text('just chill')
    $('.edit_level').removeClass('hide')
    var val=$(this).closest('#lebel').text()
    $('#lavel_name_value').val(val)
    div_id=$(this).closest('div').attr('id')
    div_id1=$(this).closest('div').data('id')
  });

//save level data
function SaveData() {
// var level_name =$('#lavel_name_value').val()
    $('#'+div_id+'').find('#lebel').text($('#lavel_name_value').val())
    $('.edit_level').addClass('hide')
}


//moveable data
 $(".data").sortable({
        connectWith: '#delete-drop',
        revert: true,
    });
 
 $("#delete-drop").droppable({
    accept: '.data > div',
    activeClass: 'dropArea',
    hoverClass: 'dropAreaHover',
    drop: function(event, ui) {
        ui.draggable.remove();
    }
});

//Save Design Form

$('#submit').on('click',function(){
    var arr = [];
    var lebel_data=$('.main').find('#lebel').text()
    var input_data=$('.main').find('input').text()
    console.log(lebel_data,lebel_data)
    var url = document.URL;
    var url_id=url.split('/')
    var count = 1;
    var level_data=0;
    var input=0;
    var level_value;
    var level_x;
    var level_y;
    var offset = $('.data').offset();
    console.log(offset)
    $(".main").each(function(){
        var id = $(this).attr('id')
        var input_exist=$('#'+id+'').find('input') 
        var level=$('#'+id+'').find('#lebel')
        if((count %2 != 0) && (level[0]!=undefined))
        {
            var position = $(this).position();
            level_value= $('#'+id+'').find('#lebel').text()
            level_x= position.left;
            level_y= position.top;
            console.log( "level_x: " + level_x + ", level_y: " + level_y );
            level_data++;
        }
        else if ((count % 2 == 0) &&  (input_exist[0] != undefined))
        {
            var position = $(this).position();
            input_x= position.left
            input_y= position.top 
            arr.push({
                    survey: url_id[4],
                    lebel_data:level_value,
                    level_x:level_x,
                    level_y:level_y,
                    value: $('#'+id+'').find('input').val(),
                    value_x:input_x,
                    value_y:input_y,
                });
            input++;
            console.log(input,level_data)
            console.log( "input_x: " + position.left + ", input_y: " + position.top );
        }
        else if (input == level_data){
            console.log(input)
            console.log(level_data)
        }
        else{
            alert('Please Add value like Level and name'+count);
            return false
        }
        count++;
    });
    if(level_data!=input){
        alert('please add Commbo value')
        return false
    }
    console.log(arr)
    console.log(url_id[4])
    $.ajax({
        type: "POST",
        url:"/user/Survey-Design/",
        headers: { 'Authorization': "Token " + localStorage.access_token },
        data:{'jsonformate':JSON.stringify(arr)},
        success:function (result){
        alert('Data Has been saved')
        window.location.href= '/show-list/';
        }
    });
});




</script>
{% endblock %}
